:root {
  --primary: #222;
  --secondary: #FFFFFF;
  --complementary: #222;
  --font-primary: #222;
  --font-secondary: #222;
  --font-family-headings: 'Futura', sans-serif;
  --font-family-text: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

p,
ul {
  font-family: var(--font-family-text);
  font-size: 15px;
}

h1,
h2,
h3,
h4,
a,
span {
  font-family: var(--font-family-headings);
}

a {
  color: var(--font-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

@media (min-width: 768px) {

  p,
  ul {
    font-size: 16px;
  }
}