:root {
  --primary: #222;
  --secondary: #FFFFFF;
  --complementary: #222;
  --font-primary: #222;
  --font-secondary: #222;
  --font-family-headings: 'Futura', sans-serif;
  --font-family-text: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Futura, sans-serif;
  margin: 0;
  padding: 0;
}


/* Typography styling */
/* 
h1 {
  font-family: var(--font-family-code);
  color: var(--font-primary);
  font-size: 50px;
}

header h2 {
  font-family: var(--font-family-headings);
  color: var(--font-primary);
  font-weight: 200;
  text-align: left;
  font-size: 25px;
}

h2 {
  font-family: var(--font-family-headings);
  color: var(--font-primary);
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-family: var(--font-family-headings);
  color: var(--font-primary);
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

h4 {
  font-family: var(--font-family-headings);
  color: var(--font-primary);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.techStack {
  font-family: var(--font-family-code);
  color: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }
} */